<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="chat-container">
        <h1>Welcome, {{ username }}!</h1>
        <div id="message-container">
            <ul id="messages"></ul>
        </div>
        <input id="message-input" autocomplete="off" placeholder="Type your message...">
        <button id="send-button">Send</button>
        <a href="/logout">Logout</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
