<!DOCTYPE html>
<html>
<head>
    <title>Private Chat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="private-chat-container">
        <h1>Private Chat Room</h1>
        <div id="message-container">
            <ul id="messages"></ul>
        </div>
        <input id="private-message-input" autocomplete="off" placeholder="Type your private message...">
        <button id="private-send-button">Send</button>
        <a href="/">Back to Chat</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

